.cyber-about {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    background: rgba(10, 10, 10, 0.8);
    border: 1px solid #FF00FF;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}


.cyber-section {
    padding: 0.7rem;
    margin-bottom: 3rem;
    border-left: 3px solid #00FFFF;
    background: rgba(18, 18, 18, 0.6);
}

.cyber-feed {
    font-family: 'Courier New', monospace;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: #00FFFF #121212;
}

.cyber-grid {
    display: grid;
    gap: 1.5rem;
}

.cyber-iframe {
    border: 1px solid #FF00FF;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    max-height: 400px;
}
.cyber-x {
    border: 1px solid #FF00FF;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    height: 400px;
    width: 90%;
}


@media (max-width: 1220px) {

  .cyber-iframe {
    width: auto;
  }
  
  .cyber-section {
    padding: 0.0rem;
    margin-bottom: 3rem;
    width: auto;
  }

  .cyber-about {
    width: 90%;
    -webkit-text-size-adjust: 70%;
  }

}

@media (max-width: 900px) {
    .cyber-about {
        width: 90%;
        grid-template-columns: 1fr; /* Apilar columnas en móviles */
    }
}
